.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin: 0 0 20px;
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 5px 20px;
  list-style: none;
  border: 1px solid #f1619f;
  border-radius: 5px;
  background: #ffcce2;
  min-width: 800px;
  color: #292627;
  word-break: break-all;
}

.btn-delete-todo {
  border: 1px solid #f1619f;
  border-radius: 5px;
  background: #ffeaf3;
  padding: 5px;
  width: 55px;
  cursor: pointer;
}
.btn-delete-todo:hover {
  background: #f1619f;
  color: #ffeaf3;
}

.btn-add-data {
  box-sizing: border-box;
  padding: 10px 35px;
  border-radius: 5px;
  border: transparent;
  background: #d02770;
  cursor: pointer;
  color: #ffeaf3;
  font-weight: 700;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn-add-data:hover {
  background: #f1619f;
}
